/* Base Layout - Flash Message */
.redFlash {
    color: red;
}
.greenFlash {
    color: green;
}

/* CoreBundle - Footer */
#adminName {
    color: rgb(243, 60, 32);
    cursor: pointer;
}

/* CoreBundle - Home Page (Index) */
#languageBox {
    /*background: red;*/
    position: relative;
    top: -40%;
    right: -90%;
    width: 60px;
}

/* CoreBundle - Page Strenght - Technology - Slider */
.htmlColor:hover {
    color: rgb(221, 75, 37);
}
.cssColor:hover {
    color: #1b73ff;
}
.jsColor:hover {
    color: rgb(239, 216, 29);
}
.phpColor:hover {
    color: rgb(115, 119, 173);
}
.angularColor:hover {
    color: rgb(189, 14, 45);
}
.githubColor:hover {
    color: rgb(255, 255, 255);
}
.bitbucketColor:hover {
    color: rgb(31, 77, 125);
}
.dbColor:hover {
    color: #c82663;
}

/* CoreBundle - Error 404 */
.backButton {
    background: rgb(246, 72, 59);
    border-color: rgb(246, 72, 59);
    border-radius: 0px 0px 0px 0px;
}

.boxButton {
    margin-top: 4%;
}

.backButton:hover {
    background: rgb(0, 0, 0);
    border-color: rgb(246, 72, 59);
    color: rgb(246, 72, 59);
}


/* AuthBundle - Page Login */
.formContainer {
    background:rgb(27, 26, 26);
    border-color: rgba(223, 54, 12, 0.129);
}
.formInput {
    background: black;
    border-color: black;
    color: lightgray;
}
#LoginContainer {
    margin-top: 10%;
}
#loginButton, #replyButton {
    background: rgb(202, 55, 44);
    border-color: black;
}
#loginButton:hover, #replyButton:hover {
    background: rgb(164, 46, 37);
    border-color: black;
}
#alertForm {
    background: rgba(202, 55, 44, 0.279);
    color: white;
}

/* AuthBundle - Page profile */
#messagesBox {
    margin-top: 6%;
    background: rgba(202, 55, 44, 0.279);
}
.viewLink {
    color: rgba(181, 102, 99, 0.83);
}
.inboxTitle {
    font-size: 130%;
}

/* AuthBundle - Page reply */
#replyDiv {
    margin-top: 5%;
}

/* AuthBundle - Layout */
.menuLinks {
    color: rgba(181, 102, 99, 0.83);
}


/* Targeting Only Mobile Portrait  */
@media (max-width:415px) { 
    
/* CoreBundle - Home Page (Index) */
    #languageBox {
        /*background: yellow;*/
        position: relative;
        top: -67%; /*-140%*/
        width: 60px;
        right: -80%; /*-80%*/
    }

    .prt_home_wrapper h1 {
        margin-left: 14%;
        /*background: red;*/
        background-image:url(../images/menu_responsive.png);
        -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
        background-size: cover;
        background-position: -41px -85px;
    }
}

/* Targeting Only Mobile Landscape  */
@media (min-width:420px) and (max-width:740px) {

/* CoreBundle - Home Page (Index) */
    .prt_home_wrapper h1 {
        margin-left: 14%;
        background: rgb(231, 125, 125);
        -webkit-background-clip: text;
	    -webkit-text-fill-color: transparent;
        background-size: cover;
        background-position: -41px -85px;
    }

    #languageBox {
        /*background: yellow;*/
        position: absolute;
        top: 5%; /*-140%*/
        width: 60px;
        right: 5%; /*-80%*/
    }
}