/* Base Layout - Flash Message */
.redFlash {
    color: red;
}
.greenFlash {
    color: green;
}


/* Page Strenght - Technology - Slider */
.htmlColor:hover {
    color: rgb(221, 75, 37);
}
.cssColor:hover {
    color: #1b73ff;
}
.jsColor:hover {
    color: rgb(239, 216, 29);
}
.phpColor:hover {
    color: rgb(115, 119, 173);
}
.angularColor:hover {
    color: rgb(189, 14, 45);
}
.githubColor:hover {
    color: rgb(255, 255, 255);
}
.bitbucketColor:hover {
    color: rgb(31, 77, 125);
}
.dbColor:hover {
    color: #c82663;
}