/.web-server-pid
/app/config/parameters.yml
# Ajout 1
/app/config/routing.yml
###
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
# Ajouts
/src/Sadio/AuthBundle/Resources/config/*
/src/CoreBundle/Resources/config/*
###